<!-- # App
   POST /reverse
     responds with a 200
     displays the reversed string (FAILED - 1)
   GET /friends
     responds with a 200
     displays friends in the view (FAILED - 2)
<!DOCTYPE html> -->
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> The Ultimate String Reverser</h1>

  <form method="POST" action="/reverse">
    <input type="text" name="string">
    <input type="submit">
  </form>

 </body>
</html>
